<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Pocket Sales</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">	
	<meta name="description" content="Tiny application for tracking your sales on the Envato Marketplaces" />
	<meta name="author" content="Emil Nikov">
	
	<link rel='stylesheet' href='css/style.css'>
	
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon-precomposed" href="img/ios_icon.png" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	
	<script type="text/javascript">	
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-29563000-1']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>


<body class="{{ app.state }}">

	<template v-if="mobile">
		<template v-if="logged">
			<header>
				<a href="#" id="signout" @click.prevent="logout"><i class="fa fa-power-off"></i></a>	
				<img src="{{ user.details.image }}" alt="" width="48" height="48" />
				<h1>{{ user.username }}</h1>
				<p>{{ user.details.sales }} sales</p>
			</header>
			
			<table id="stats">
				<tr>
					<td><strong>{{ user.earnings.sales }}</strong> sales</td>
					<td colspan="2"><strong>${{ user.earnings.earnings }}</strong> earnings</td>
					<td><strong>{{ user.details.followers }}</strong> followers</td>
				</tr>
			</table>
			
			<ul id="statement">
				<li v-for="item in user.statement" {{ fresh }}>
					<span>{{ item.amount }}</span>
					<strong class="{{ item.kind }}">{{ item.kind }}</strong>
					{{ item.description }}
				</li>
			</ul>
			
			<footer>{{{ app.credits }}}</footer>
		</template>		
	</template>
	
	
	<template v-else>
		<div class="homepage">
			<div class="top">
				<div class="wrapper">
					<h1>{{ app.title }}</h1>
					<h2>Track your sales on the go.</h2>
				</div>
			</div>		
			
			<div class="bottom">
				<div class="wrapper">
					<p class="left"><strong>Open this page on your mobile device.</strong></p>
					<p class="right">{{{ app.credits }}}</p>
				</div>
			</div>
		</div>
	</template>
	
	
			
	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.5.1/vue-resource.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
	<script src='js/shake.js'></script>
	<script src="js/main.js"></script>
	
	<!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src='js/jquery.cookie.js'></script>
	<script src='js/cache.min.js'></script>
	<script src='js/mustache.js'></script>	
	<script src='js/app.js'></script> -->

</body>
</html>
